name: Build and Push images

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Add/modify versions as needed
        go_version: ["1.23.7", "1.24.1"] 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          ./build.sh ${{ matrix.go_version }}
          docker tag tf_test_tools:go${{ matrix.go_version }} ghcr.io/${{ github.repository }}/tf_test_tools:go${{ matrix.go_version }}
          docker push ghcr.io/${{ github.repository }}/tf_test_tools:go${{ matrix.go_version }}

      - name: Cleanup Dockerfiles
        run: |
          rm Dockerfile.go${{ matrix.go_version }}